#content {
  width: 512px;
  margin: auto;
}

#form_post_message {
  margin-top: 10px;
}

.messages .message {
  padding-bottom: 10px;

  border-bottom: 1px solid #555;
  list-style-type: none;
}

.messages .message .username {
  font-weight: bold;
}

.messages .message .date {
  font-style: italic;
}

.messages .message .text {
  margin-left: 10px;
  padding-left: 10px;

  border-left: 2px solid #555;
}

.messages .message .delete {
  margin-top: 10px;
}
